{{ ansible_managed }}

Mail-Server:
{% for host in dns_mail_server %}
{{ host['hostname'] }}, {{ host['priority']}}
{% endfor %}

External Domains:
{% for host in network['external_domain'] %}
{{  host['domainname'] }}.{{network['domain']}}, {{ host['ip_address'] | default(network['external_ip']) }}
{% endfor %}

Hostname:
{% for host in dhcp_config %}
{{  host['fqhn_domain'] }}, {{ host['ip_address'] }}
{% endfor %}

Cluster:
{% for host in dns_cluster_config  %}
{%  for forward_host in host['forwarded']  %}
{%   for ip_host in dhcp_config  %}
{%    if ip_host['fqhn_domain'] == forward_host %}
{{     "%-30s" % host['fqhn_domain'] | regex_replace("\." + network['domain'] + "$", "") }}  A       {{ ip_host['ip_address'] }}
{%    endif %}
{%   endfor %}
{%  endfor %}
{% endfor %}

CNAME:
{% for host in dns_cname_config %}
{{  host['fqhn_domain'].rstrip(".").ljust(30) }}, CNAME={{ host['forwarded'].rstrip(".") }}
{% endfor %}
